.bordaform{
    border: solid 0.5px;
    background-color: aqua;
}
.quadraddiv{
    padding: auto;
    
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.label{
    display: block;
    margin-top: 10px;

}
input[type=text], textarea{
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border: 0.5px solid black ;
    margin-top: 5px;

}
.formlog{
    padding: 10px;
    width: 500px;
    font-size: 15px;
    /* border: 0.5px solid black ; */
    border-radius: 10px;
}
textarea{
    height: 200px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
input[type=email]{
    padding: 10px;
    width: auto;
    font-size: 15px;
    border: 0.5px solid black ;
    margin-top: 5px;

}
input[type=password]{
    padding: 10px;
    width: auto;
    font-size: 15px;
    border: 0.5px solid black ;
    margin-top: 5px;

}
.bordform{
    border:1px solid rgb(243, 24, 24);
}
.alinhamentoform{
    align-content: center;
}
.butform:hover{
    transition:all 0.5s;
    background-color: gold;
}
.butfor{
    padding: 10px;
    font-size: 15px;
    border: 1px solid;
    border-radius: 10px;
    background-color: aqua;
    width: 100px;
   
}
fieldset{
    background-color: aquamarine;
    margin: bottom 20px; ;
    border: 2px solid red;
}
legend{
    background-color: rgb(197, 247, 16);

}