body{
    padding: 0px;
    margin: 2vw;
}
header{
    background-color: rgb(204, 194, 194);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
nav{
    background-color: antiquewhite;
    font-size: 18px;
    font-weight:bolder;
    font-style: italic;
    
}
tfoot{
    background-color: chartreuse;
}
thead{
    background-color: blue;
}
tbody{
    background-color: darkgrey;
}
fieldset{
    background-color: rgb(217, 255, 0);
    
}
legend{
    background-color: darkgrey;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
}
.degrade{
    width: 500px;
    height: 200px;
    background-color: blue;
    background:linear-gradient(30deg, white, blue, red);
/* abaixo padronizar em todos navegadores */
    /* background:-moz-linear-gradient(white, blue, red);
    background:-o-linear-gradient(white, blue, red);
    background:-webkit-linear-gradient(white, blue, red); */

}
.animacao{
 width: 150px;
 height: 150px;
 background-color:red;
 animation-name: exemplo;
 animation-duration: 10s;
 /* position relative deixa ele flutuando proximo a sua div */
 position: relative;

}
@keyframes exemplo{
    0% {background-color:red;top:0px;left:0px;}
    25% {background-color:yellow;top:0px;left:200px;}
    50% {background-color:blue;top:200px;left:200px;}
    75% {background-color:green;top:200px;left:0px;}
    100% {background-color:red;top:0px;left:0px;}
    
}
.sombras{
    width: 150px;
    height: 150px;
    margin: auto;
     background-color:red;
     box-shadow: 10px 10px 15px black;
     border-radius: 10px;
     text-shadow: 2px 2px 5px green;
}
.transicao1{
    width: 150px;
    height: 150px;
    margin: auto;
     background-color:rgb(17, 0, 255);
     transition: all 1s linear;
}
.transicao1:hover{
    background-color:rgb(0, 255, 34);
    box-shadow: 10px 10px 15px black;
    width: 250px;
    height: 250px;
}
transitiontexto1{
 color: black;
 font-size: 15px;
 background-color: bisque;
}
transitiontexto1:hover{
    color: gold;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(41, 44, 43);
    box-shadow: 10px 10px 5px rgb(245, 52, 4);
    border-radius: 10px;
}
/* citação*/
blockquote{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-style: italic;
    
}
figure{
    padding:5px;
    margin: 0%;
    border: 1px solid black;
}
img{
    height: 150px;
    width: 150px;
}
figcaption{
    background-color: rgb(58, 160, 250);
    color: black;
    text-align: center;
    padding: 2px;
}
/* .flex{
    width: 50%;
    height: 200px;
    background-color: chocolate;
    margin: 10%;
    float: left;

} */
.counteinerflex{
    display: flex;
    background-color: aquamarine;
    /* flex-direction: row; */
    margin: 10px;

    
}
.counteinerflex div{
    flex: 1;
    background-color: red;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}
.counteinerflex2{
    display: flex;
    background-color: aquamarine;
    flex-direction: column;
    margin: 10px;

    
}
.counteinerflex2 div{
    flex: 1;
    background-color: rgb(13, 235, 13);
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}
.counteinerflex3{
    display: flex;
    /* flex-direction: row; */
    background-color: rgb(235, 52, 19);
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}
/* aqui o numero representa o tamanho de 1 para 1 de cada div se eu colocar 2 ele vai ter 2x, se 3 sera 3x, e assim por diante. o tamanho das outras */
.flex1{
    flex: 1;
    background-color: rgb(13, 235, 13);
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}
.flex2{
    flex: 1;
    background-color: rgb(13, 235, 13);
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}
.flex3{
    flex: 2;
    background-color: rgb(13, 235, 13);
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    background-color: #555;
}
.flexwrap div{
    width: 200px;
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}
.flexalinhado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
.flexalinhado div{
    width: 100px;
    background-color: darkgray;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
.sobedesce{
    display: flex;
    height: 500px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: magenta;
}
.sobedesce div{
    width: 100px;
    height: 100px;
    background-color: rgb(116, 247, 9);
    margin: 10px;
    padding: 10px;
    font-size: 22px;
}
.divsobe{
    align-self: flex-start;
}
.divdesce{
    align-self: flex-end;
}
.divcentro{
    align-self: center;
}