.final{
  background-color: silver;
  width: auto;
  height: auto;
}
.alinhament{
  border-color: silver;
  padding: 10px;
  margin: 10px;
}
#link-about {
  color: chocolate;
}
ul li .link {
  color: darkgreen;
}
.bold {
  color: darkmagenta;
  font-weight: bold;
}
.site-name {
  color: chartreuse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  background-color: blue;
  text-align: center;
}
h1:hover{
  transition: all 2.4s;
  background-color: aqua;
    text-align: center;
  text-decoration: underline;
}
.user {
  color: black;
  margin-right: 30px;
  padding: 20px 30px 20px 30px;
  
}
h1{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.bot{
  color: brown;
  font-size: 28px;
  font-weight: bold;
}
footer{
  font-style: italic;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 0, 0);
  
}
.bord{
  border: 5px solid black;
  border-radius: 10px;

}
.circulo{
  background-color: aquamarine;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.log{
  width: 80px;
  height: 80px;
}
td{
  border: 1px solid rgb(126, 122, 122)
}
table{
  width: 100%;
}
th{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px;
  background-color: silver;
}
tbody{
  width: 100%;
  text-align: center;
}
tfoot{
  text-align: center;
  font: bold;
text-decoration-color: aqua;
background-color: aquamarine;
}
.texcentro{
  text-align: center;
  background-color: aquamarine;
  border: 1px solid #000;
  border-radius: 5px;
}
tr:hover{
  transition: all 0.4s;
  background-color: silver;
}
.escrev{
  text-align: center;
  
}
.alinhar-area-post {
  color: chartreuse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  background-color: rgb(161, 161, 189);
  text-align: center;
}
