.final{
  background-color: silver;
  width: auto;
  height: auto;
}
.alinhament{
  border-color: silver;
  padding: 10px;
  margin: 10px;
}
#link-about {
  color: chocolate;
}
ul li .link {
  color: darkgreen;
}
.bold {
  color: darkmagenta;
  font-weight: bold;
}
.site-name {
  color: chartreuse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  background-color: blue;
}
.user {
  color: black;
  margin-right: 30px;
  padding: 20px 30px 20px 30px;
  
}
h1{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.bot{
  color: brown;
  font-size: 28px;
  font-weight: bold;
}
footer{
  font-style: italic;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 0, 0);
  
}
.bord{
  border: 5px solid black;
  border-radius: 10px;

}
.circulo{
  background-color: aquamarine;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.log{
  width: 80px;
  height: 80px;
}