
#link-about {
  color: chocolate;
}
ul li .link {
  color: darkgreen;
}
.bold {
  color: darkmagenta;
  font-weight: bold;
}
.site-name {
  color: chartreuse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}
.user {
  color: black;
  position: sticky;
}
h1{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.bot{
  color: brown;
  font-size: 120px;
  font-weight: bold;
}